/* Features */

.features-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

.features-item {
  width: 100%;
}

.features-icon-container {
  display: none;
}

.features-subtitle {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

/* Desktop */

@media screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 112px;
    margin-bottom: 8px;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }

  .features-icon {
    color: #4d5ae5;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
  }
}
